<launch>
	<arg name="camera_name"            default="panda_camera"/>
	<arg name="tf_prefix"              default="$(arg camera_name)"/>

	<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml" ns="$(arg camera_name)">
		<arg name="tf_prefix"           value="$(arg tf_prefix)"/>
		<arg name="filters"             value="pointcloud,decimation,disparity,spatial,temporal"/>
		<arg name="align_depth"         value="true"/>

		<!-- 720p: MinZ about 28 cm -->
<!--
		<arg name="color_width"         value="1280"/>
		<arg name="color_height"        value="720"/>
		<arg name="color_fps"           value="6"/>
		<arg name="depth_width"         value="1280"/>
		<arg name="depth_height"        value="720"/>
		<arg name="depth_fps"           value="6"/>
		<arg name="infra_width"         value="1280"/>
		<arg name="infra_height"        value="720"/>
		<arg name="infra_fps"           value="6"/>
-->

		<!-- 480p: MinZ about 18cm -->
<!--
		<arg name="color_width"         value="848"/>
		<arg name="color_height"        value="480"/>
		<arg name="color_fps"           value="6"/>
		<arg name="depth_width"         value="848"/>
		<arg name="depth_height"        value="480"/>
		<arg name="depth_fps"           value="6"/>
		<arg name="infra_width"         value="848"/>
		<arg name="infra_height"        value="480"/>
		<arg name="infra_fps"           value="6"/>
-->

    <arg name="color_width"         value="1280"/>
    <arg name="color_height"        value="720"/>
    <arg name="color_fps"           value="15"/>
    <arg name="depth_width"         value="640"/>
    <arg name="depth_height"        value="480"/>
    <arg name="depth_fps"           value="60"/>
    <arg name="infra_width"         value="640"/>
    <arg name="infra_height"        value="480"/>
    <arg name="infra_fps"           value="60"/>


    <!-- 240: MinZ about 11cm -->
<!--
    <arg name="color_width"         value="424"/>
    <arg name="color_height"        value="240"/>
    <arg name="color_fps"           value="60"/>
    <arg name="depth_width"         value="424"/>
    <arg name="depth_height"        value="240"/>
    <arg name="depth_fps"           value="60"/>
    <arg name="infra_width"         value="424"/>
    <arg name="infra_height"        value="240"/>
    <arg name="infra_fps"           value="60"/>
-->
<!--
    <arg name="enable_infra1"       default="true"/>
    <arg name="enable_infra2"       default="true"/>
-->
	</include>

	<!--
		Resulting topics:

		Same as sim:
		/panda_camera/aligned_depth_to_color/camera_info
		/panda_camera/aligned_depth_to_color/image_raw
		/panda_camera/color/camera_info
		/panda_camera/color/image_raw
		/panda_camera/depth/camera_info
		/panda_camera/depth/color/points
		/panda_camera/depth/image_rect_raw

		Unique to real:
		/panda_camera/decimation/parameter_descriptions
		/panda_camera/decimation/parameter_updates
		/panda_camera/disparity_end/parameter_descriptions
		/panda_camera/disparity_end/parameter_updates
		/panda_camera/disparity_start/parameter_descriptions
		/panda_camera/disparity_start/parameter_updates
		/panda_camera/extrinsics/depth_to_color
		/panda_camera/pointcloud/parameter_descriptions
		/panda_camera/pointcloud/parameter_updates
		/panda_camera/realsense2_camera_manager/bond
		/panda_camera/rgb_camera/auto_exposure_roi/parameter_descriptions
		/panda_camera/rgb_camera/auto_exposure_roi/parameter_updates
		/panda_camera/rgb_camera/parameter_descriptions
		/panda_camera/rgb_camera/parameter_updates
		/panda_camera/spatial/parameter_descriptions
		/panda_camera/spatial/parameter_updates
		/panda_camera/stereo_module/auto_exposure_roi/parameter_descriptions
		/panda_camera/stereo_module/auto_exposure_roi/parameter_updates
		/panda_camera/stereo_module/parameter_descriptions
		/panda_camera/stereo_module/parameter_updates
		/panda_camera/temporal/parameter_descriptions
		/panda_camera/temporal/parameter_updates
		/rosout
		/rosout_agg
		/tf
		/tf_static

	-->
</launch>
