<launch>

    <arg name="camera_name" default="d435i"/>
    <arg name="static" default="false"/>
    <arg name="label_format" default="UINT8"/>
    <arg name="topics_ns" default="$(arg camera_name)"/>
    <arg name="color_width" default="1280"/>
    <arg name="color_height" default="720"/>
    <arg name="color_fps" default="30"/>
    <arg name="infra_width" default="640"/>
    <arg name="infra_height" default="480"/>
    <arg name="infra_fps" default="30"/>
    <arg name="depth_width" default="640"/>
    <arg name="depth_height" default="480"/>
    <arg name="depth_fps" default="30"/>
    <arg name="gyro_fps" default="400"/>
    <arg name="accel_fps" default="400"/>

    <arg name="enable_depth" default="true"/>
    <arg name="enable_color" default="true"/>
    <arg name="enable_gravity" default="true"/>
    <arg name="enable_label" default="false"/>
    <arg name="enable_gyro" default="false"/>
    <arg name="enable_accel" default="false"/>
    <arg name="enable_infra1" default="false"/>
    <arg name="enable_infra2" default="false"/>

    <node name="spawn_$(arg camera_name)" pkg="gazebo_ros" type="spawn_model"
          args="-param $(arg camera_name)_description -urdf -model $(arg camera_name)" />

    <param name="$(arg camera_name)_description"
           command="$(find xacro)/xacro '$(find lr_realsense)/urdf/d435i_sim.urdf.xacro'
                     name:=$(arg camera_name)
                     static:=$(arg static)
                     label_format:=$(arg label_format)
                     topics_ns:=$(arg topics_ns)
                     enable_gravity:=$(arg enable_gravity)
                     color_width:=$(arg color_width)
                     color_height:=$(arg color_height)
                     color_fps:=$(arg color_fps)
                     enable_color:=$(arg enable_color)
                     enable_label:=$(arg enable_label)
                     infra_width:=$(arg infra_width)
                     infra_height:=$(arg infra_height)
                     infra_fps:=$(arg infra_fps)
                     enable_infra1:=$(arg enable_infra1)
                     enable_infra2:=$(arg enable_infra2)
                     depth_width:=$(arg depth_width)
                     depth_height:=$(arg depth_height)
                     depth_fps:=$(arg depth_fps)
                     enable_depth:=$(arg enable_depth)
                     enable_gyro:=$(arg enable_gyro)
                     enable_accel:=$(arg enable_accel)
                     gyro_fps:=$(arg gyro_fps)
                     accel_fps:=$(arg accel_fps)
                     parent_link:=world" />


    <node pkg="nodelet" type="nodelet" name="depth_registration_nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="depth_registration_nodelet"
          args="load depth_image_proc/register depth_registration_nodelet_manager">
        <remap from="depth/camera_info" to="/$(arg camera_name)/depth/camera_info"/>
        <remap from="depth/image_rect"  to="/$(arg camera_name)/depth/image_rect_raw"/>
        <remap from="rgb/camera_info"   to="/$(arg camera_name)/color/camera_info"/>
        <remap from="depth_registered/camera_info"  to="/$(arg camera_name)/aligned_depth_to_color/camera_info"/>
        <remap from="depth_registered/image_rect"   to="/$(arg camera_name)/aligned_depth_to_color/image_raw"/>
    </node>

<!--
        Resulting topics:

        Same as real:
        /panda_camera/aligned_depth_to_color/camera_info
        /panda_camera/aligned_depth_to_color/image_raw
        /panda_camera/color/camera_info
        /panda_camera/color/image_raw
        /panda_camera/depth/camera_info
        /panda_camera/depth/color/points
        /panda_camera/depth/image_rect_raw

        Unique to sim:
        /panda_camera/color/parameter_descriptions
        /panda_camera/color/parameter_updates
        /panda_camera/depth/color/image_raw
        /panda_camera/depth/parameter_descriptions
        /panda_camera/depth/parameter_updates

-->

</launch>
